[Unit]
Description=Twonky Media Server
After=syslog.target network.target

[Service]
Type=simple
User=twonky
Group=twonky
WorkingDirectory=/var/opt/twonky
# Create /var/run/twonky to hold the service PID file
RuntimeDirectory=twonky
PIDFile=/var/run/twonky/mediaserver.pid
ExecStart=/opt/twonky/twonkystarter -mspid /var/run/twonky/mediaserver.pid -logfile /var/log/twonky/twonky.log -inifile /etc/twonky/twonkyserver.ini ;
ExecStop=kill -s TERM $MAINPID ;
ExecStopPost=killall -s TERM twonkystarter ; killall -s TERM twonky ;
ExecReload=kill -s HUP $MAINPID ;

[Install]
WantedBy=multi-user.target
