[Unit]
Description=Twonky Media Server
After=syslog.target network.target

[Service]
Type=simple
User=twonky
Group=twonky
# create /run/twonky in the temporary /run filesystem, owned by user twonky, group twonky
RuntimeDirectory=twonky
PIDFile=/run/twonky/mediaserver.pid
WorkingDirectory=/var/opt/twonky
ExecStart=/opt/twonky/twonkystarter -mspid /run/twonky/mediaserver.pid -logfile /var/log/twonky/twonky.log -inifile /etc/twonky/twonkyserver.ini
ExecStop=kill -s TERM $MAINPID
ExecStopPost=-killall -s TERM twonkystarter
ExecStopPost=-killall -s TERM twonky
# Twonky doesn't appear to support reload, and stops with no error when this is called
ExecReload=kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
