[Unit]
Description=Twonky UPnP Media Server
After=syslog.target network.target

[Service]
Type=simple
User=twonky
Group=twonky

# create ./twonky in the temporary /run filesystem, for twonky to write the .pid file to
RuntimeDirectory=twonky
PIDFile=/run/twonky/mediaserver.pid

# Twonky tries to create dbdir in the WorkingDirectory unless appdata is specified on the command line 
WorkingDirectory=/opt/twonky

ExecStart=/opt/twonky/twonkystarter -mspid /run/twonky/mediaserver.pid -logfile /var/log/twonky/twonky.log -inifile /etc/twonky/twonkyserver.ini -appdata /var/opt/twonky

ExecStop=kill -s TERM $MAINPID
ExecStopPost=-killall -s TERM twonkystarter
ExecStopPost=-killall -s TERM twonky

# Twonky doesn't appear to support reload, and stops with no logged error when this is called
#ExecReload=kill -s HUP $MAINPID

Restart=always

[Install]
WantedBy=multi-user.target
